'body':
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-n' : 'window:focus-next-pane'
  'ctrl-p' : 'window:focus-previous-pane'


'atom-text-editor.platform-darwin .tree-view':
  'ctrl-l' : 'tree-view:open-selected-entry-left'
  'ctrl-r' : 'tree-view:open-selected-entry-right'


# all
# -------------------------
'atom-text-editor.vim-mode-plus':
  'escape': 'vim-mode-plus:reset-normal-mode'
  'ctrl-c': 'vim-mode-plus:reset-normal-mode'
  'ctrl-[': 'vim-mode-plus:reset-normal-mode'
  'i i': 'vim-mode-plus:reset-normal-mode'

# all except normal
# -------------------------
'atom-text-editor.vim-mode-plus:not(.normal-mode)':
  'escape': 'vim-mode-plus:activate-normal-mode'
  'ctrl-[': 'vim-mode-plus:activate-normal-mode'
  'i i':'vim-mode-plus:reset-normal-mode'
